<!DOCTYPE html>
<html lang="cn">
	<head>
		<title><%=htmlWebpackPlugin.options.title%> @ EMM-Ark</title>
		<%= require('html-loader!./layout/head-common.html') %>
	</head>
	<body>
		<%= require('html-loader!./layout/nav.html') %>
		<%= require('html-loader!./layout/header.html') %>
		<div class="w">
			<!-- 品类导航栏 -->
			<ul class="category-list">
				<div class="category-item">
					<li class="category-first">
						<a class="link" target="_blank" href="./list.html?categoryId=1">先锋干员</a>
					</li>
					<li class="category-second">
						<a class="link" target="_blank" href="./list.html?categoryId=1">先锋干员</a>
						<a class="link" target="_blank" href="./list.html?categoryId=1">先锋干员</a>
						<a class="link" target="_blank" href="./list.html?categoryId=1">先锋干员</a>
					</li>
				</div>
				<div class="category-item">
					<li class="category-first">
						<a class="link" target="_blank" href="./list.html?categoryId=2">近卫干员</a>
					</li>
					<li class="category-second">
						<a class="link" target="_blank" href="./list.html?categoryId=2">近卫干员</a>
						<a class="link" target="_blank" href="./list.html?categoryId=2">近卫干员</a>
						<a class="link" target="_blank" href="./list.html?categoryId=2">近卫干员</a>
					</li>
				</div>
				<div class="category-item">
					<li class="category-first">
						<a class="link" target="_blank" href="./list.html?categoryId=3">狙击干员</a>
					</li>
					<li class="category-second">
						<a class="link" target="_blank" href="./list.html?categoryId=3">狙击干员</a>
						<a class="link" target="_blank" href="./list.html?categoryId=3">狙击干员</a>
						<a class="link" target="_blank" href="./list.html?categoryId=3">狙击干员</a>
					</li>
				</div>
				<div class="category-item">
					<li class="category-first">
						<a class="link" target="_blank" href="./list.html?categoryId=4">重装干员</a>
					</li>
					<li class="category-second">
						<a class="link" target="_blank" href="./list.html?categoryId=4">重装干员</a>
						<a class="link" target="_blank" href="./list.html?categoryId=4">重装干员</a>
						<a class="link" target="_blank" href="./list.html?categoryId=4">重装干员</a>
					</li>
				</div>
				<div class="category-item">
					<li class="category-first">
						<a class="link" target="_blank" href="./list.html?categoryId=5">医疗干员</a>
					</li>
					<li class="category-second">
						<a class="link" target="_blank" href="./list.html?categoryId=5">医疗干员</a>
						<a class="link" target="_blank" href="./list.html?categoryId=5">医疗干员</a>
						<a class="link" target="_blank" href="./list.html?categoryId=5">医疗干员</a>
					</li>
				</div>
				<div class="category-item">
					<li class="category-first">
						<a class="link" target="_blank" href="./list.html?categoryId=6">辅助干员</a>
					</li>
					<li class="category-second">
						<a class="link" target="_blank" href="./list.html?categoryId=6">辅助干员</a>
						<a class="link" target="_blank" href="./list.html?categoryId=6">辅助干员</a>
						<a class="link" target="_blank" href="./list.html?categoryId=6">辅助干员</a>
					</li>
				</div>
				<div class="category-item">
					<li class="category-first">
						<a class="link" target="_blank" href="./list.html?categoryId=7">术士干员</a>
					</li>
					<li class="category-second">
						<a class="link" target="_blank" href="./list.html?categoryId=7">术士干员</a>
						<a class="link" target="_blank" href="./list.html?categoryId=7">术士干员</a>
						<a class="link" target="_blank" href="./list.html?categoryId=7">术士干员</a>
					</li>
				</div>
				<div class="category-item">
					<li class="category-first">
						<a class="link" target="_blank" href="./list.html?categoryId=8">特种干员</a>
					</li>
					<li class="category-second">
						<a class="link" target="_blank" href="./list.html?categoryId=8">特种干员</a>
						<a class="link" target="_blank" href="./list.html?categoryId=8">特种干员</a>
						<a class="link" target="_blank" href="./list.html?categoryId=8">特种干员</a>
					</li>
				</div>
			</ul>
			<!-- 首页轮播图 -->
			<div class="banner-content">
				<div class="loading"></div>
			</div>
		</div>
		
		<!-- 商品楼层展示 -->
		<div class="w">
			<hr />
			<div class="floor-wrap">
				<h1 class="floor-title">
					<i class="fa fa-address-card-o" aria-hidden="true"></i>
					&nbsp;先锋干员
				</h1>
				<ul class="floor-list">
					<li class="floor-item">
						<a href="./detail.html?productId=96">
							<span class="floor-text">卡手之 王维娜</span>
							<img class="floor-image" src="http://q.woohoo.top/Siege/Siege_img-1.png" alt="推进之王 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=112">
							<span class="floor-text">开拖拉机的 风笛</span>
							<img class="floor-image" src="http://q.woohoo.top/Bagpipe/Bagpipe_img-1.png" alt="风笛 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=101">
							<span class="floor-text">他做到了 德克萨斯</span>
							<img class="floor-image" src="http://q.woohoo.top/Texas/Texas_img-1.png" alt="德克萨斯 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=145">
							<span class="floor-text">法国干员 桃金娘</span>
							<img class="floor-image" src="http://q.woohoo.top/Myrtle/Myrtle_img-1.png" alt="桃金娘 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=85">
							<span class="floor-text">源石虫保护协会 香草</span>
							<img class="floor-image" src="http://q.woohoo.top/Vanilla/Vanilla_img-1.png" alt="香草 初始立绘" />
						</a>
					</li>
				</ul>
			</div>
			<div class="floor-wrap">
				<h1 class="floor-title">
					<i class="fa fa-address-card-o" aria-hidden="true"></i>
					&nbsp;近卫干员
				</h1>
				<ul class="floor-list">
					<li class="floor-item">
						<a href="./detail.html?productId=123">
							<span class="floor-text">那个男人 丹增</span>
							<img class="floor-image" src="http://q.woohoo.top/SilverAsh/SilverAsh_img-1.png" alt="银灰 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=51">
							<span class="floor-text">绝食老头 赫拉格</span>
							<img class="floor-image" src="http://q.woohoo.top/Hellagur/Hellagur_img-1.png" alt="赫拉格 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=148">
							<span class="floor-text">吉祥物 诗怀雅</span>
							<img class="floor-image" src="http://q.woohoo.top/Swire/Swire_img-1.png" alt="诗怀雅 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=60">
							<span class="floor-text">作业战神 攻兰莎</span>
							<img class="floor-image" src="http://q.woohoo.top/Melantha/Melantha_img-1.png" alt="玫兰莎 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=118">
							<span class="floor-text">社交达人 月见夜</span>
							<img class="floor-image" src="http://q.woohoo.top/Midnight/Midnight_img-1.png" alt="月见夜 初始立绘" />
						</a>
					</li>
				</ul>
			</div>
			<div class="floor-wrap">
				<h1 class="floor-title">
					<i class="fa fa-address-card-o" aria-hidden="true"></i>
					&nbsp;狙击干员
				</h1>
				<ul class="floor-list">
					<li class="floor-item">
						<a href="./detail.html?productId=93">
							<span class="floor-text">整活运动 卧底W</span>
							<img class="floor-image" src="http://q.woohoo.top/W/W_img-1.png" alt="W 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=15">
							<span class="floor-text">大尾巴狼 普罗旺斯</span>
							<img class="floor-image" src="http://q.woohoo.top/Provence/Provence_img-1.png" alt="普罗旺斯 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=139">
							<span class="floor-text">流泪猫猫头 杰富婆</span>
							<img class="floor-image" src="http://q.woohoo.top/Jessica/Jessica_img-1.png" alt="杰西卡 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=49">
							<span class="floor-text">kokodayo 克天使</span>
							<img class="floor-image" src="http://q.woohoo.top/Kroos/Kroos_img-1.png" alt="克洛丝 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=36">
							<span class="floor-text">没想到你好这口</span>
							<img class="floor-image" src="http://q.woohoo.top/Rangers/Rangers_img-1.png" alt="巡林者 初始立绘" />
						</a>
					</li>
				</ul>
			</div>
			<div class="floor-wrap">
				<h1 class="floor-title">
					<i class="fa fa-address-card-o" aria-hidden="true"></i>
					&nbsp;重装干员
				</h1>
				<ul class="floor-list">
					<li class="floor-item">
						<a href="./detail.html?productId=61">
							<span class="floor-text">新年快乐 重装年</span>
							<img class="floor-image" src="http://q.woohoo.top/Nian/Nian_img-1.png" alt="年 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=38">
							<span class="floor-text">黑钢充电宝 雷蛇</span>
							<img class="floor-image" src="http://q.woohoo.top/Liskarm/Liskarm_img-1.png" alt="雷蛇 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=50">
							<span class="floor-text">峰驰信使 白送</span>
							<img class="floor-image" src="http://q.woohoo.top/Bison/Bison_img-1.png" alt="拜松 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=21">
							<span class="floor-text">自闭龟 蛇屠箱</span>
							<img class="floor-image" src="http://q.woohoo.top/Cuora/Cuora_img-1.png" alt="蛇屠箱 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=4">
							<span class="floor-text">八年老兵 黑Jio</span>
							<img class="floor-image" src="http://q.woohoo.top/NoirCorne/NoirCorne_img-1.png" alt="黑角 初始立绘" />
						</a>
					</li>
				</ul>
			</div>
			<div class="floor-wrap">
				<h1 class="floor-title">
					<i class="fa fa-address-card-o" aria-hidden="true"></i>
					&nbsp;医疗干员
				</h1>
				<ul class="floor-list">
					<li class="floor-item">
						<a href="./detail.html?productId=22">
							<span class="floor-text">闪剑圣 闪灵</span>
							<img class="floor-image" src="http://q.woohoo.top/Shining/Shining_img-1.png" alt="闪灵 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=126">
							<span class="floor-text">WindowsXP 白面鸮</span>
							<img class="floor-image" src="http://q.woohoo.top/Ptilopsis/Ptilopsis_img-1.png" alt="白面鸮 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=122">
							<span class="floor-text">内鬼医生 华法琳</span>
							<img class="floor-image" src="http://q.woohoo.top/Warfarin/Warfarin_img-1.png" alt="华法琳 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=132">
							<span class="floor-text">保护野生动物 清流</span>
							<img class="floor-image" src="http://q.woohoo.top/Purestream/Purestream_img-1.png" alt="清流 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=92">
							<span class="floor-text">唯一猛男 安赛尔</span>
							<img class="floor-image" src="http://q.woohoo.top/Ansel/Ansel_img-1.png" alt="安赛尔 初始立绘" />
						</a>
					</li>
				</ul>
			</div>
			<div class="floor-wrap">
				<h1 class="floor-title">
					<i class="fa fa-address-card-o" aria-hidden="true"></i>
					&nbsp;辅助干员
				</h1>
				<ul class="floor-list">
					<li class="floor-item">
						<a href="./detail.html?productId=109">
							<span class="floor-text">杰哥不要 安洁莉娜</span>
							<img class="floor-image" src="http://q.woohoo.top/Angelina/Angelina_img-1.png" alt="安洁莉娜 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=89">
							<span class="floor-text">莱茵企鹅 麦哲伦</span>
							<img class="floor-image" src="http://q.woohoo.top/Magallan/Magallan_img-1.png" alt="麦哲伦 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=26">
							<span class="floor-text">偶像歌手 空</span>
							<img class="floor-image" src="http://q.woohoo.top/Sora/Sora_img-1.png" alt="空 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=24">
							<span class="floor-text">喀兰圣女 初雪</span>
							<img class="floor-image" src="http://q.woohoo.top/Pramanix/Pramanix_img-1.png" alt="初雪 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=120">
							<span class="floor-text">公招内推 梓兰</span>
							<img class="floor-image" src="http://q.woohoo.top/Orchid/Orchid_img-1.png" alt="梓兰 初始立绘" />
						</a>
					</li>
				</ul>
			</div>
			<div class="floor-wrap">
				<h1 class="floor-title">
					<i class="fa fa-address-card-o" aria-hidden="true"></i>
					&nbsp;术士干员
				</h1>
				<ul class="floor-list">
					<li class="floor-item">
						<a href="./detail.html?productId=77">
							<span class="floor-text">火索米 艾雅法拉</span>
							<img class="floor-image" src="http://q.woohoo.top/Eyjafjalla/Eyjafjalla_img-1.png" alt="艾雅法拉 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=42">
							<span class="floor-text">一格血赚 伊芙利特</span>
							<img class="floor-image" src="http://q.woohoo.top/Ifrit/Ifrit_img-1.png" alt="伊芙利特 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=17">
							<span class="floor-text">不是驴耳 阿米娅</span>
							<img class="floor-image" src="http://q.woohoo.top/Amiya/Amiya_img-1.png" alt="阿米娅 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=33">
							<span class="floor-text">小个子的幸运 杜林</span>
							<img class="floor-image" src="http://q.woohoo.top/Durin/Durin_img-1.png" alt="杜林 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=99">
							<span class="floor-text">游戏策划 12F</span>
							<img class="floor-image" src="http://q.woohoo.top/12F/12F_img-1.png" alt="12F 初始立绘" />
						</a>
					</li>
				</ul>
			</div>
			<div class="floor-wrap">
				<h1 class="floor-title">
					<i class="fa fa-address-card-o" aria-hidden="true"></i>
					&nbsp;特种干员
				</h1>
				<ul class="floor-list">
					<li class="floor-item">
						<a href="./detail.html?productId=108">
							<span class="floor-text">功夫熊猫 食铁兽</span>
							<img class="floor-image" src="http://q.woohoo.top/FEater/FEater_img-1.png" alt="食铁兽 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=75">
							<span class="floor-text">火力少年王 伊桑</span>
							<img class="floor-image" src="http://q.woohoo.top/Ethan/Ethan_img-1.png" alt="伊桑 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=27">
							<span class="floor-text">龙门说唱家 阿消</span>
							<img class="floor-image" src="http://q.woohoo.top/Shaw/Shaw_img-1.png" alt="阿消 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=125">
							<span class="floor-text">老工具人 砾</span>
							<img class="floor-image" src="http://q.woohoo.top/Gravel/Gravel_img-1.png" alt="砾 初始立绘" />
						</a>
					</li>
					<li class="floor-item">
						<a href="./detail.html?productId=62">
							<span class="floor-text">自爆小车 THRM-EX</span>
							<img class="floor-image" src="http://q.woohoo.top/Thermal-EX/Thermal-EX_img-1.png" alt="THRM-EX 初始立绘" />
						</a>
					</li>
				</ul>
			</div>
		</div>
		<%= require('html-loader!./layout/footer.html') %>
	</body>
</html>