<div class="footer">
	<div class="w">
		<hr />
		<div class="links">
			<a class="link" href="https://chenxy.me" target="_blank">
				Oyiadin's Blog
			</a>
			<i class="fa fa-heart"></i>
			<a class="link" href="https://blog.woohoo.top" target="_blank">
				Emmettwoo's Blog
			</a>
			<i class="fa fa-heart"></i>
			<a class="link" href="https://github.com/Emmettwoo" target="_blank">
				Emmettwoo's Github
			</a>
		</div>
		<p class="copyright">
			Copyright © 2020 EmmettWoo
		</p>
		<p class="copyright">
			<a href="http://beian.miit.gov.cn/">粤ICP备20034331号</a>
		</p>
	</div>
</div>

<script type="text/javascript" src="//cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
