    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" content="EMM-Mall,emmettwoo,电商平台,购物">
    <meta name="description" content="EMM-Mall电商平台，一个没什么用的全沾实例">

    <!-- 百度统计插件 -->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?48008b82a854ec86317198217c524530";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <link rel="dns-prefetch" href="//cdn.bootcss.com">
    <link rel="dns-prefetch" href="//s.woohoo.top">
    <link rel="dns-prefetch" href="//img.woohoo.top">